#root {
  max-width: 100%;
  margin: 0 auto;
}

#act-sec {
  background-color: #007545;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}

.navbar-item:hover {
  background-color: #007545;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.drinks-bar {
  scrollbar-width: none; /* Firefox */
}

@keyframes infinite-scroll {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

.animate-infinite-scroll {
    animation: infinite-scroll 8s linear infinite;
}



/* From Uiverse.io by vinodjangid07 */ 
.add-to-cart-btn {
  width: 180px;
  height: 45px;
  border-radius: 40px;
  border: 1px solid rgba(141, 252, 114, 0.349);
  background-color: rgb(12, 37, 41);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
}

.IconContainer {
  width: 35px;
  height: 35px;
  background: linear-gradient(to bottom, #0de41e, rgb(71, 238, 20));
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: 0.3s;
}

.icon {
  border-radius: 1px;
}

.text {
  height: 100%;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1;
  transition-duration: 0.3s;
  font-size: 1.04em;
  font-weight: 700;
}

.add-to-cart-btn:hover .IconContainer {
  width: 170px;
  transition-duration: 0.3s;
}

.add-to-cart-btn:hover .text {
  transform: translate(10px);
  width: 0;
  font-size: 0;
  transition-duration: 0.3s;
}

.add-to-cart-btn:active {
  transform: scale(0.95);
  transition-duration: 0.3s;
}


.btn-offer {
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.7);
}
